.newsLetterCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: rgb(250, 237, 240);

    .newsLetterTitle {
        font-size: 80px;
        color: rgb(29, 28, 28);
    }
    .newsLetterSubTitle {
        font-size: 20px;
        font-weight: 500;
        margin-top: 16px;
    }

    .newsLetterInputAndSendCon {
        display: flex;
        align-items: center;
        margin-top: 20px;
       

        .newsLetterInput {
            height: 36px;
            width: 600px;
            border: none;
            outline: none;
            padding-left: 12px;
            border: 1px solid teal;
            background-color: whitesmoke;
            border-radius: 5px;
            
        }
        .newsLetterButtonCon{
            width: 56px;
            height: 36px;
            background-color: teal;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 2px;
            margin-left: 2px;
        }
    }
}
