.sliderCon {
    width: 100%;
    height: 100vh;
    display: flex;
    
    .slideImgCon {
        height: 100vh;
        margin-left: 30px;

        .slideImg {
            height: 80%;
        }
    }
    .slideInfo {
        margin-top: 180px;
        display: flex;
        flex-direction: column;

        .title {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .sliderDesc {
            font-size: 20px;
            margin-bottom: 14px;
        }
        .sliderButtonCon {
            width: 120px;
            height: 38px;
            border: 1px solid grey;
            border-radius: 5px;
            background-color: teal;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;

            .sliderButton {
                border: none;
                background-color: none;
            }
        }
    }
}
