.cartCon {
   
    .cartWrapper {
        display: flex;
        flex-direction: column;
        padding: 30px;

        .cartTitle {
            text-align: center;
            font-size: 40px;
            font-weight: 600;
        }
        .cartTopRow {
            display: flex;

            justify-content: space-between;

            .continueShoppingBut {
                width: 150px;
                height: 40px;
                color: black;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
            }

            .middleTextCon {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                text-decoration: underline;

                .middleTxtFirst {
                    margin-right: 20px;
                    cursor: pointer;
                }

                .middleTxtSecond {
                    cursor: pointer;
                }
            }

            .checkOutBut {
                width: 150px;
                height: 40px;
                background-color: black;
                color: white;
                font-size: 14px;
                padding: 2px;
                font-weight: 600;
                cursor: pointer;
            }
        }

        .cartInfoRow {
            margin-top: 50px;
            display: flex;

            .cartLeftSide {
                flex: 5;
            }
            .cartRightSide {
                flex: 1.7;
            }
        }
    }
}
